<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Orders</title>
</head>
<body id="form-body">

<!-- navbar -->

<nav class="navbar">
    <div class="navbar-center">
        <th:block th:switch="${currentRole}">
            <th:block th:case="'user'">
                <a th:href="@{customers}" class="nav-link">Customers</a>
                <a th:href="@{items}" class="nav-link">Items</a>
                <a th:href="@{orders}" class="nav-link">Orders</a>
            </th:block>
            <th:block th:case="'admin'">
                <a th:href="@{customers}" class="nav-link">Customers</a>
                <a th:href="@{items}" class="nav-link">Items</a>
                <a th:href="@{orders}" class="nav-link">Orders</a>
            </th:block>
            <th:block th:case="*">
                <a class="no-access">Customers</a>
                <a class="no-access">Items</a>
                <a class="no-access">Orders</a>
            </th:block>
        </th:block>

        <a th:href="@{index}" class="nav-link"><h2 class="nav-title">Bluffköp AB</h2></a>

        <th:block th:switch="${currentRole}">
            <th:block th:case="'admin'">
                <a th:href="@{addcustomer}" class="nav-link">Add Customer</a>
                <a th:href="@{additem}" class="nav-link">Add Item</a>
                <a th:href="@{addorder}" class="nav-link">Add Order</a>
            </th:block>
            <th:block th:case="*">
                <a class="no-access">Add Customer</a>
                <a class="no-access">Add Item</a>
                <a class="no-access">Add Order</a>
            </th:block>
        </th:block>
    </div>
</nav>

<!-- List -->
<div class="container" id="form-container">
    <div id="form" class="form">

        <div>
            <div class="header" id="form-header">
                <h2 th:text="${orderTitle}"></h2>
            </div>

            <div th:unless="${#lists.isEmpty(allOrdersList)}" class="form-control">
                <table class="table-style">
                    <tbody>
                    <tr class="table-header">
                        <td><a th:class="${sortby == 'id' ? 'active' : 'passive'}" th:href="@{/orders(customerId=${customerId}, sortby='id', order=${newOrder})}">Order ID</a></td>
                        <td><a th:class="${sortby == 'customer' ? 'active' : 'passive'}" th:href="@{/orders(customerId=${customerId}, sortby='customer', order=${newOrder})}">Customer ID</a></td>
                        <td><a th:class="${sortby == 'date' ? 'active' : 'passive'}" th:href="@{/orders(customerId=${customerId}, sortby='date', order=${newOrder})}">Order date</a></td>
                        <td class="right"><a th:class="${sortby == 'items' ? 'active' : 'passive'}" th:href="@{/orders(customerId=${customerId}, sortby='items', order=${newOrder})}">Items</a></td>
                        <td class="right"><a th:class="${sortby == 'total' ? 'active' : 'passive'}" th:href="@{/orders(customerId=${customerId}, sortby='total', order=${newOrder})}">Total</a></td>
                    </tr>
                    <tr th:each="ord : ${allOrdersList}">
                        <td><a th:href="@{/order(orderId=${ord.id})}" th:text="${ord.id}"></a></td>
                        <td><a th:href="@{/orders(customerId=${ord.customerId})}" th:text="${ord.customerId}"></a></td>
                        <td th:text="${ord.date}"></td>
                        <td th:text="${ord.getNumberOfItems}" class="right"></td>
                        <td th:text="${ord.getTotalString}" class="right"></td>
                    </tr>
                    </tbody>
                </table>

                <div th:if="${customerId} >= 0">

                    <br><br>

                    <form id="form2" class="form" action="#" th:action="@{/neworder}" method="get">
                        <div class="form-control" >
                            <input type="hidden" name="customerId" th:value="${customerId}">
                            <input id="confirm-button" type="submit" value="New order">
                        </div>
                    </form>

                </div>


            </div>
        </div>
    </div>
</div>


</body>
</html>